{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="main_wrapper">
        <div class="content_wrapper">
            <div class="container">
                <div class="content_block row no-sidebar">
                    <div class="fl-container">
                        <div class="row">
                            <div class="posts-block ">
                                <div class="contentarea">
                                    <div class="row">
                                        <div class="span9 module_cont module_text_area">
                                            <div class="module_content">
                                                <input id="img-content" name="content" placeholder="Soma .." autofocus/>
                                            </div>
                                        </div>
                                        <div class="span3 module_cont module_text_area">
                                            <div class="module_content">
                                                <a id="img-submit"><i class="icon-check-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{% endblock %}