#img-content, #img-submit {
    font-weight: 700;
    font-size: 77px;
    line-height: 100px;
    height: 100px;
    background-color: transparent;
}

#img-content {
    letter-spacing: -1.925px;
    border: none;
}

#img-content:focus {
    outline: none;
}

#img-submit {
    cursor: pointer;
}

.module_content {
    text-align: center;
}