{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="main_wrapper">
        <div class="content_wrapper">
            <div class="container simple-post-container">
                <div class="content_block no-sidebar row">
                    <div class="fl-container ">
                        <div class="row">
                            <div class="span12 module_cont module_blog module_none_padding module_blog_page">
                                <div class="blog_post_page">
                                    <div class="pf_output_container">
                                        <div class="slider-wrapper theme-default ">
                                            <div class="nivoSlider">
                                                <img src="{% static 'img/blog/1170_563/4.jpg' %}" alt=""/>
                                                <img src="{% static 'img/blog/1170_563/5.jpg' %}" alt=""/>
                                                <img src="{% static 'img/blog/1170_563/6.jpg' %}" alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blogpreview_top">
                                        <div class="box_date">
                                            <span class="box_month">...</span>
                                            <span class="box_day">...</span>
                                        </div>
                                        <div class="listing_meta">
                                            <span>최건희</span>
                                            <span>이영인</span>
                                            <span>김동규</span>
                                        </div>
                                        <div class="author_ava"><img alt="" src="{% static 'custom/cur.svg' %}" class="avatar" height="72" width="72"/></div>
                                    </div>
                                    <h3 class="blogpost_title">유아 스마트 전동차 S#</h3>
                                    <div class="blog_post_content">
                                        <article class="contentarea">
                                            <p><a href="javascript:void(0);">SW 마에트스로</a> 6기 2단계 프로젝트</p>
                                        </article>
                                    </div>
                                    <div class="blog_post-footer">
                                        <div class="blogpost_share">
                                            <span>공유하기</span>
                                            <a href="javascript:void(0);" class="share_facebook"><i class="stand_icon icon-facebook-square"></i></a>
                                            <a href="javascript:void(0);" class="share_pinterest"><i class="stand_icon icon-pinterest"></i></a>
                                            <a href="javascript:void(0);" class="share_tweet"><i class="stand_icon icon-twitter"></i></a> <a href="javascript:void(0);" class="share_gplus"><i class="icon-google-plus-square"></i></a>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="block_likes">
                                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>1319</span></div>
                                            <div class="gallery_likes gallery_likes_add ">
                                                <i class="stand_icon icon-heart-o"></i>
                                                <span>16</span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="blogpost_user_meta">
                                    <div class="author-ava"><img alt="" src="{% static 'custom/marker.svg' %}" class="avatar" height="96" width="96"/></div>
                                    <div class="author-name"><h6>소스코드 및 사용법</h6></div>
                                    <div class="author-description"><a href="https://github.com/somacar/somacar">https://github.com/somacar/somacar</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <hr class="single_hr">
                        <div class="row">
                            <div class="posts-block simple-post ">
                                <div class="contentarea">
                                    <div class="row">
                                        <div class="span12 module_cont module_small_padding featured_items single_feature featured_posts">
                                            <div class="featured_items">
                                                <div class="items3 featured_posts" data-count="3">
                                                    <ul class="item_list">
                                                        <li>
                                                            <div class="item">
                                                                <div class="item_wrapper">
                                                                    <div class="img_block wrapped_img">
                                                                        <a href="">
                                                                            <img alt="" src="{% static 'img/blog/540_368/1.jpg' %}"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="featured_items_body featured_posts_body">
                                                                        <div class="featured_items_title">
                                                                            <h6><a href="">최건희</a></h6>
                                                                        </div>
                                                                        <div class="featured_item_content">
                                                                            모터 및 안드로이드 앱 개발
                                                                            <div class="featured_items_meta">
                                                                                <div class="preview_categ">
                                                                                    <span>단국대학교</span>
                                                                                    <span>컴공</span>
                                                                                </div>
                                                                                <a class="gallery_likes gallery_likes_add already_liked" href="mailto:" title="이메일보내기">
                                                                                    <i class="stand_icon icon-heart"></i>
                                                                                </a>
                                                                                <a class="gallery_likes gallery_likes_add" href="" title="깃헙">
                                                                                    <i class="stand_icon icon-github"></i>
                                                                                </a>
                                                                                <a class="gallery_likes gallery_likes_add" href="" title="비트버킷">
                                                                                    <i class="stand_icon icon-bitbucket"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item">
                                                                <div class="item_wrapper">
                                                                    <div class="img_block wrapped_img">
                                                                        <a href="">
                                                                            <img alt="" src="{% static 'custom/aeng.jpeg' %}"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="featured_items_body featured_posts_body">
                                                                        <div class="featured_items_title">
                                                                            <h6><a href="">이영인</a></h6>
                                                                        </div>
                                                                        <div class="featured_item_content">
                                                                            영상처리 및 웹 개발
                                                                            <div class="featured_items_meta">
                                                                                <div class="preview_categ">
                                                                                    <span>힌동대학교</span>
                                                                                    <span>컴퓨터공학 & 전자공학</span>
                                                                                </div>
                                                                                <a class="gallery_likes gallery_likes_add already_liked" href="mailto:aengs2@gmail.com" title="이메일보내기">
                                                                                    <i class="stand_icon icon-heart"></i>
                                                                                </a>
                                                                                <a class="gallery_likes gallery_likes_add" href="https://github.com/LeeYoungIn" title="깃헙">
                                                                                    <i class="stand_icon icon-github"></i>
                                                                                </a>
                                                                                <a class="gallery_likes gallery_likes_add" href="https://bitbucket.org/pimery/" title="비트버킷">
                                                                                    <i class="stand_icon icon-bitbucket"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item">
                                                                <div class="item_wrapper">
                                                                    <div class="img_block wrapped_img">
                                                                        <a href="">
                                                                            <img alt="" src="{% static 'img/blog/540_368/3.jpg' %}"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="featured_items_body featured_posts_body">
                                                                        <div class="featured_items_title">
                                                                            <h6><a href="">김동규</a></h6>
                                                                        </div>
                                                                        <div class="featured_item_content">
                                                                            통신 부분 개발
                                                                            <div class="featured_items_meta">
                                                                                <div class="preview_categ">
                                                                                    <span>국민대학교</span>
                                                                                    <span>컴퓨터공학</span>
                                                                                </div>
                                                                                <a class="gallery_likes gallery_likes_add already_liked" href="mailto:aengs2@gmail.com" title="이메일보내기">
                                                                                    <i class="stand_icon icon-heart"></i>
                                                                                </a>
                                                                                <a class="gallery_likes gallery_likes_add" href="https://github.com/RainC" title="깃헙">
                                                                                    <i class="stand_icon icon-github"></i>
                                                                                </a>
                                                                                <a class="gallery_likes gallery_likes_add" href="" title="비트버킷">
                                                                                    <i class="stand_icon icon-bitbucket"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        info();
    </script>
{% endblock %}